*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container{
     display: flex;
     flex-direction: row-reverse;
     justify-content: center;
     align-items: end;
     margin: 20px;
     background: rgb(236, 219, 219);
     height: 100vh;
     width: 100%;

     
}
.container > div{
 background: dodgerblue;
 text-align: center;
 padding: 40px;
align-items: flex-end;
 margin: 20px;
} */

.container{
    display: flex;
    align-items:stretch;
    background-color: dodgerblue;
}
.container > div { 
   width: 250px;
   padding: 30px;
   margin: 10px;
   text-align: center;
   display: flex;
   background-color: white;

}
/* 2. flex-grow - divloarni boshqa divlarga nisbatan qanday katalikda joylayshini belgilaydi */
/* 3. flex-shrink - divlarni boshqa divlarga nisbatan qisqarishni belgilaydi   */
/* 4. flex- basis - divlarning boshlang'ich holatini width ni belgilaydi  */
/* 5. flex - */